
body{

    background-image: url("Best\ 50\ Dark\ i-phone\ Wallpapers.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; 

}
nav
{
    margin-top: 0%;


}
a:link{
    color:rgb(165,150,150);
    float: right;
    margin-right: 20px;
    
}
a:visited
{
    color: rgba(255, 175, 4, 0.938);
    
}
h1
{
    font-family: cursive;
    text-align: center;
    margin-top: 5%;
    color: rgb(255,175,4,0.938);
    font-size: 50px;
}
.contain
{
    display: flex;
    flex-wrap: wrap;
}
.box1
{
    margin-top: 6%;
    margin-left: 27%;
}
.box2
{
    margin-top: 6%;
    margin-left: 15%;
}
p
{
    text-align: center;
    font-family: cursive;
    color:rgb(165,150,150);
}